.about {
	display: flex;
	flex-direction: column;
	font-size: 3.6rem;
	padding: 3rem;
	position: relative;
	top: 3rem;
	left: 1%;
	max-width: 100%;
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	transform: scale(0.94);
	overflow: scroll;

	&__list {
		list-style-type: none;
		padding: 0;

		li {
			position: relative;
			font-size: 3.2rem;
			margin-bottom: 1rem;
			padding-left: 2rem;
			line-height: 1.5;
			color: greenyellow;
		}
	}
}

h2 {
	margin-left: 45rem;
	font-size: 5.5rem;
	font-weight: 600;
	justify-content: center;
	margin-bottom: 2rem;
	color: Blue;
	border-bottom: 3px solid #3498db;
	padding-bottom: 0.5rem;
	width: fit-content;
}

@keyframes scale {
	100% {
		transform: scale(1);
	}
}

@keyframes fade-in {
	100% {
		opacity: 1;
		filter: blur(0);
	}
}
